{% extends 'base.html.twig' %}

{% block title %}Edit WorkInterruption{% endblock %}
{% block pageTitle %}
    Edit WorkInterruption|
    <a href="{{ path('work_interruption_index') }}">back to list</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {{ include('work_interruption/_form.html.twig', {'button_label': 'Update'}) }}
            <br>
            {{ include('work_interruption/_delete_form.html.twig') }}
        </div>
        <div class="col-md-4">
        </div>
    </div>


{% endblock %}
