{% extends 'base.html.twig' %}

{% block title %}Edit Journal{% endblock %}
{% block pageTitle %}
    Edit Journal |
    <a href="{{ path('journal_index') }}">back to list</a>
{% endblock %}

{% block body %}


    {{ include('journal/_form.html.twig', {'button_label': 'Update'}) }}
    <br>

    {{ include('journal/_delete_form.html.twig') }}
{% endblock %}
