{% extends 'base.html.twig' %}

{% block title %}New Activity{% endblock %}
{% block pageTitle %}
    Create new Activity | <a href="{{ path('activity_index') }}">back to list</a>
{% endblock %}
{% block body %}

    {{ include('activity/_form.html.twig') }}

{% endblock %}
